<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31127704596-17mc3jcvbcnn880r38k6dhcv191st3re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31127704596-17mc3jcvbcnn880r38k6dhcv191st3re</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGOBlm_tkfPNbju3HlN8My2SO-XSQE1w</string>
	<key>GCM_SENDER_ID</key>
	<string>31127704596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveasy</string>
	<key>PROJECT_ID</key>
	<string>liveasy-52d70</string>
	<key>STORAGE_BUCKET</key>
	<string>liveasy-52d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31127704596:ios:a941744dc8d4b46e878301</string>
</dict>
</plist>